/*
Name: Google News SASS
Version: 1.0
*/

@import "colors.scss";
/*Colors SASS file*/
@import "mixin.scss";
/*Mixin SASS file*/
@import "fonts.scss";
/*Fonts SASS file*/
@import "header.scss";
/*Header SASS file*/
@import "articles.scss";
/*Articles SASS file*/


html {
	width: 100%;
	margin: 0;
	border-top: 2px solid $link-hover;
}

p {
	margin: 0px;
}

h4 {
	margin: 0px;
}

body {
	width: 100%;
	overflow-x: hidden;
	display: block;
	clear: both;
	padding: 0;
	margin: 0px auto;
	box-sizing: border-box;
	font-family: $primary-font;
	font-size: 13pt;
	color: black;
}

@media screen and (max-width : 1024px) {

	/*All Devices*/

	html.touch *:hover {
		pointer-events: none !important;
	}

	html,
	body {
		width: 100% !important;
		margin: 0px !important;
		overflow-x: hidden !important;
		-webkit-text-size-adjust: none;
		/* Prevent font scaling in landscape */
	}

	body {
		margin: 0 0 20px;
		height: auto;
		min-height: 100%;
	}
}

#content {
	width: 100%;
	margin: 0 auto;
	display: block;
	overflow: hidden;
}



/*------FOOTER-----*/

#footer {
	width: 100%;
}

.ourstory {
	padding: 50px 7.5% 50px 7.5%;
	border-bottom: 1px solid #999999;
}

.info-company {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	padding: 20px 7.5% 20px 7.5%;
}

@media screen and (min-width: 1024px) {
	.info-company {
		flex-direction: row;
		justify-content: space-between;
		text-align: left;
	}
}

/*.team-image {
	width: calc(50%-15%);
} */

/*.space {
	padding-bottom: 15px;
}*/

.footer-heading {
	text-align: start;
	font-size: 12px;
	margin: 0px 0px 10px 0px;
}



.footer-text {
	text-align: start;
	font-size: 8px;
	margin: 0px 0px 2px 0px;
}

.footer-container {
	padding: 40px 7.5% 20px 7.5%;
	border-top: 1px solid #999999;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: end;
}



/* CSS for Image of Modern Building */
.modern-building {
	width: 100%;
	max-width: 800;
	height: auto;
	margin: 0 auto; /* Center the image horizontally */
	padding: 0;
	align-items: center;
  }
  
  /* Media Query for Phones */
  @media only screen and (max-width: 600px) {
	.modern-building {
	  max-width: none; /* Remove max-width on small screens */
	}
  }
  
  /* Contact section styles */
  .contact-section {
	padding: 20px;
	align-items: center;
  }
  
  .section-title {
	margin-bottom: 20px;
	text-align: center; /* Center the section title */
  }
  
  .contact-category {
	font-weight: bold;
	text-align: center; /* Align contact categories to the center */
  }
  
  .contact-detail {
	margin: 10px auto; /* Center the contact details horizontally */
	text-align: left; /* Align contact details to the left */
	max-width: 300px; /* Adjust the maximum width based on your design */
  }
  
  /* Media Query for Phones */
  @media only screen and (max-width: 600px) {
	.contact-detail {
	  margin: 20px auto; /* Adjust the margin for smaller screens */
	}
  }
  
  /* Social icons styles */
  .social-icons {
	display: flex;
	justify-content: center; /* Center the social icons horizontally */
	align-items: center; /* Center the social icons vertically */
	margin-top: 20px;
  }
  
  /* Individual Social Icon */
  .social-icon {
	margin: 0 10px; /* Adjust the space between each social icon */
	img {
	  width: 30px;
	  height: 30px;
	}
  }
  
  /* Media Query for Phones */
  @media only screen and (max-width: 600px) {
	.social-icon {
	  margin: 0 8px; /* Adjust the space between each social icon for smaller screens */
	}
  }
  
  /* Map section styles */
  .map-section {
	text-align: center;
  }
  
  .section-title {
	margin-bottom: 10px;
  }
  
  .map-link .map-image {
	width: 70%;
	max-width: 400px;
	height: auto;
  }
  

.wrapper {
	padding: 20px 7.5% 20px 7.5%;

	h4 {
		padding-bottom: 4px;
		padding-top: 11px;
	}

	h3 {
		margin: 0;
		padding-top: 50px;
		padding-bottom: 20px;
	}
}

.employee-wrap {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 30px;
	padding-bottom: 2.5%;
}

@media (min-width:1225px) {
	.employee-text-wrap {
		display: flex;
		flex-direction: column;
		height: auto;
		width: 14%;
	}
}

@media (max-width:1224px) {
	.employee-text-wrap {
		display: flex;
		flex-direction: column;
		height: auto;
		flex: 1 1 30%;
	}
}

@media (max-width:600px) {
	.employee-text-wrap {
		display: flex;
		flex-direction: column;
		height: auto;
		flex: 1 1 45%;
	}
}

@media (max-width:374px) {
	.employee-text-wrap {
		display: flex;
		flex-direction: column;
		height: auto;
		flex: 1 1 50%;
	}
}

@media (max-width:900px) {
	.employee-wrap {
		gap: 15px;
	}
}