/*
Name: Google News SASS
Version: 1.0
*/

@import "colors.scss";
/*Colors SASS file*/
@import "mixin.scss";
/*Mixin SASS file*/
@import "fonts.scss";
/*Fonts SASS file*/
@import "header.scss";
/*Header SASS file*/
@import "articles.scss";
/*Articles SASS file*/


html {
	width: 100%;
	margin: 0;
	border-top: 2px solid $link-hover;
}

img {
	padding-bottom: 12px;
	padding-top: 12px;
}

p {
	margin: 2px;

}

h4 {
	margin: 0px;
}

body {
	width: 90%;
	overflow-x: hidden;
	display: block;
	clear: both;
	padding: 0;
	margin: 0px auto;
	box-sizing: border-box;
	font-family: $primary-font;
	font-size: 13pt;
	color: black;
}

@media screen and (max-width : 1024px) {

	/*All Devices*/

	html.touch *:hover {
		pointer-events: none !important;
	}

	html,
	body {
		width: 100% !important;
		margin: 0px !important;
		overflow-x: hidden !important;
		-webkit-text-size-adjust: none;
		/* Prevent font scaling in landscape */
	}

	body {
		margin: 0 0 20px;
		height: auto;
		min-height: 100%;
	}
}

#content {
	width: 100%;
	margin: 0 auto;
	display: block;
	overflow: hidden;
}



/*------FOOTER-----*/

#footer {
	width: 100%;
}

.ourstory {
	padding: 12px;
}

.info-company {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	width: 100%;
}

@media screen and (min-width: 1024px) {
	.info-company {
		flex-direction: row;
		justify-content: space-between;
	}
}

/*.team-image {
		width: calc(50%-15%);
	} */

/*.space {
		padding-bottom: 15px;
	}*/

/* try accordion feature on mobile.footer-heading {
	text-align: start;
	font-size: 12px;
	margin: 0px 0px 10px 0px;
}

.footer-text {
	text-align: start;
	font-size: 10px;
	margin: 0px 0px 2px 0px;
}

.footer {
	padding: 40px 7.5% 20px 7.5%;
	border-top: 1px solid #999999;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: end;
}

.footer-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}*/

.wrapper {
	padding: 20px 7.5% 20px 7.5%;

	h4 {
		padding-bottom: 4px;
		padding-top: 11px;
	}

	h3 {
		margin: 0;
		padding-top: 50px;
		padding-bottom: 20px;
	}
}

.employee-wrap {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 30px;
	padding-bottom: 2.5%;
}

@media (min-width:1225px) {
	.employee-text-wrap {
		display: flex;
		flex-direction: column;
		height: auto;
		width: 14%;
	}
}

@media (max-width:1224px) {
	.employee-text-wrap {
		display: flex;
		flex-direction: column;
		height: auto;
		flex: 1 1 30%;
	}
}

@media (max-width:600px) {
	.employee-text-wrap {
		display: flex;
		flex-direction: column;
		height: auto;
		flex: 1 1 45%;
	}
}

@media (max-width:374px) {
	.employee-text-wrap {
		display: flex;
		flex-direction: column;
		height: auto;
		flex: 1 1 50%;
	}
}

@media (max-width:900px) {
	.employee-wrap {
		gap: 15px;
	}
}

.footer {
	padding: 40px 7.5% 20px 7.5%;
	background-color: #fff;
	color: #000;
	/* Adjust as needed */
}

.footer-container {
	display: flex;
	flex-direction: column;
}

.footer-content {
	margin-bottom: 20px;
	/* Adjust as needed */
	overflow: hidden;
	/* Hide content overflow */
	transition: max-height 1s ease-out;
	/* Add smooth transition */
}

.footer-heading {
	font-size: 14px;
	cursor: pointer;
	margin: 0;
	/* Remove default margin */
}

.accordion-content {
	display: none;
	margin-top: 5px;
	/* Adjust as needed */
}

.accordion-content.show {
	display: block;
}

.copyright {
	margin-top: 20px;
	/* Adjust as needed */
}

.footer-heading i {
	margin-left: 5px;
	transition: transform 0.3s ease-out;
}

/* Rotate the chevron icon when the content is shown */
.footer-heading.show i {
	transform: rotate(180deg);
}

@media screen and (min-width: 1024px) {
	.footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.footer-container {
		width: 50%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.footer-content {
		display: flex;
		flex-direction: column;
	}

	.accordion-content {
		display: block;
	}

	.footer-heading {
		i {
			display: none;
		}
	}

}